<a href="https://colab.research.google.com/github/husnain572/Python-Programming-Awfera/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What is a programming Language?**

A programming language is an artificial language that can be used to control the behaviour of a machine, particularly a computer. Programming languages, like human languages, are defined through the use of syntactic and semantic rules, to determine structure and meaning respectively.


Examples are: Python, Ruby, Java, JavaScript, C, C++, and C#.

Programming languages are used to write all computer programs and computer software. A programming language is like a set of instructions that the computer follows to do something.

## **Installing IDE(Integrated Development Environment):**

How to download and install Python on Windows:

https://www.python.org/downloads/

how to download and install Pycharm IDE on Windows:

https://www.jetbrains.com/pycharm/download/

Moreover, here you can get complete guidance about installing IDE for python on Windows.

https://www.guru99.com/how-to-install-python.html

# **Python For Beginners**


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
# Why Python?


*   Free and open source
*   Easy to learn


*   Portable
*   A lot of applications including web developing, app developing and data science


*   Can be treated in a procedural way, object oriented way and fuctional way

# **Python Syntax**

In [ ]:
x='Husnain'
y='Muhammad'
print(x,y)

Husnain Muhammad

In [ ]:
num1 = 5
num1 = 15
num2 = 10
num2 = 20
print("the value of num1 is =", num1)
print("the value of num2 is =",num2)

the value of num1 is = 15
the value of num2 is = 20

In [ ]:
a = "8"   # string
print(a)
print(type(a))

8
<class 'str'>

In [ ]:
a="Husnain"
print (a)

Husnain

In [ ]:
'''print('Hello World')
b='7324355465753434243546575'
print(b)'''

"print('Hello World')\nb='7324355465753434243546575'\nprint(b)"

In [ ]:
print(2345)
type(2345)

2345

int

In [ ]:
x = 10
y = 12
print(x)
print(y)
print(x,"+",y)
print(x+y)

10
12
10 + 12
22

In [ ]:
a = 100
print(a)
'''This line is printing a
If commented, it will not print'''
b = "Python"
print(b)

100
Python

# **Comment**
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.


2 types of comments in Python:


*   Single line comment #
*   Multi-line comment '''  '''

In [ ]:
'''It's a course
named
"python"

hf'''
print(6)

6

In [ ]:
print("Let's learn about comments.")
# print("it is a single line comment")

Let's learn about comments.

In [ ]:
print("""Multi-line String""")
'''or multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjjf
'''
#single line cntrl+/

print("My name is Husnain. I'm a student at university.I'm a good student.")

Multi-line String
My name is Husnain. I'm a student at university.I'm a good student.

# **Reserve words or keywords**

Keywords are predefined, reserved words used in Python programming that have special meanings to the interpreter.

We cannot use a keyword as a variable name, function name, or any other identifier. They are used to define the syntax and structure of the Python language.

Following are some keywords in Python:


**False,     is,     in,     Lambda,    True,    None,    if,     elif,    break,       else,    continue,    class,    not,    and,    or**

In [ ]:
a = "a variable"
is = "won't allow a variable"
print(a)
print(is)

SyntaxError: invalid syntax (1956869549.py, line 2)

# **Python Variables**
Variables are containers for storing data values.

Python has no command for declaring a variable. There is no need to write the data type of a variable before it.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [ ]:
a = "Husnain"
b = 'Feroz'
print(a,b)
print(a+b)
print(a+" "+b)
print(a,'+',b)   #Shortcut ctrl + /

Husnain Feroz
HusnainFeroz
Husnain Feroz
Husnain + Feroz

In [ ]:
my_variable = "Python"
print("my_variable")

my_variable

# **Rules for assigning name to variable**



*   A variable name must start with a letter or the underscore character and there must be no white space in a variable name
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No special characters are allowed i.e. @num1 , Python$ are the invalid variables.
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
age = 3
print(age)

3

In [ ]:
_myName  = "Husnain"
myVariableName = 95
MyVariableName = 'Pakistan'
myVariableName = 88.5
print(myVariableName)
print(_myName)

88.5
Husnain

# **Types of variable name cases**
Camel Case

Snake Case

Pascal Case

In [ ]:
a = 10
a = 5
print(a)

5

In [ ]:
camelCaseThird = '100'
snake_case = 5.9
PascalCase = "Python"

# **Assigning values to the variable:**




* Assigning multiple values to multiple variables
  
*   Assigning one value to multiple variables

# **Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [ ]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)

Orange
5
Apple

In [ ]:
a , b = 5 , 8
c = a+b
print("This is a sum of a and b =", c)

This is a sum of a and b = 13

# **One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [ ]:
a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Orange
Orange

In [ ]:
b = 2
print(b)

2

In [ ]:
#b = 45
print(b)

2

In [ ]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)
print(a)

5
6
7
8

#**Getting Address of a Variable**

Use id function for it.

The `id()` function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the object's memory address, and will be different for each time you run the program.

In [ ]:
X = 139810907914576
print(id(139810907914576))  # Creates a temporary object for evaluation
print(id(X))                # Refers to the actual object assigned to X

4489079888
4489075632

- When id(139810907914576) is evaluated, Python creates a temporary integer object to compute its id.
- The variable X is already referencing the original object for 139810907914576.

In [ ]:
b = 2
print(id(b))

4438608520

In [ ]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
4438608776
4438608616

In [ ]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

4489394720
4489396016

# **Data Types**
Following are some built-in data types in Python:


*   Text Type:  `str` -->  " "
*   Numeric Types:  `int`, `float`  -->  123, 12.97683
*   Sequence Types: `list`, `tuple`  -->  [1,3,4,5] , (1,8,6,4)
*   Mapping Type: `dict`  -->  {}
*   Set Type: `set` -->  {[ ]}
*   Boolean Type: `bool`  -->  TRUE and FALSE







---

In [ ]:
string_var = "Programming"
integer_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(integer_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

**Getting the Data type**

You can get the data type of any object by using the **type()** function:

In [ ]:
a = "70"
print(type(a))
print(a)

<class 'str'>
70

In [ ]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)

var2 = 2.5
print(type(var2))

1
5
<class 'float'>

In [ ]:
var3 = """Hello"""""""""""""""""""""""
print(var3)
print(type(var3))

<class 'str'>
Hello

In [ ]:
var4 = True

print(type(var4))

<class 'bool'>

In [ ]:
a = '100'
print(type(a))

<class 'str'>

# **Type Casting in Python**
We can change the data type of a variable or a value.

In [ ]:
a = 89.9
a = int(a)
print(a)
print(type(a))

89
<class 'int'>

In [ ]:
a =str(789.8)
print(a)
print(type(a))

789.8
<class 'str'>

In [ ]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [ ]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [ ]:
integer = 0
boolean = bool(integer)
print(boolean)

False

In [ ]:
integer = 12
boolean = bool(integer)
print(boolean)

True

In [ ]:
marks = float(input("Enter your marks ="))
print(marks)
type(marks)

12.0

float

In [ ]:
marks = int(input("Enter your obtained marks ="))
total_marks = int(input('Enter total marks of Maths subject ='))
percentage = marks/total_marks*100
print(int(percentage), "%")

25 %

In [ ]:
# Input Function
age = int(input("Enter your age: "))
print("your age is: ", age)
print("your age after 5 years will be =",age + 5 )

your age is:  12
your age after 5 years will be = 17

In [ ]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

# **Operators**

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:
*   Arithmetic operators

*   Assignment operators

*   Comparison operators

*   Logical operators

*   Membership operators

# **Arithmetic Operators**

* Addition +
* Subtraction -
* Multiplicatin *
* Division /
* Modulus %
* Exponential **
* Floor Division //

In [ ]:
x = int(input())
print(type(x))
print(x+2)

<class 'int'>
14

In [ ]:
#input function
a = int(input("Enter number: "))
print(a)
print(type(a))
print(a+2)

56
<class 'int'>
58

In [ ]:
print(8.0+4)

In [ ]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
# print(3 + 7)

60
<class 'int'>
10

In [ ]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

In [ ]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

In [ ]:
#Division (always gives float)
x = 50
y = 5
z = x/y
print(z)
print(type(z))
var = int(z)
print(var, type(var))

10.0
<class 'float'>
10 <class 'int'>

In [ ]:
#Floor Division (always gives integer)
x = 9
y = 5
z = x//y
print(z)
print(type(z))

In [ ]:
print(-3/2)

In [ ]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

In [ ]:
#Modulus (gives remainder)
x = 9
y = 5
print(x%y)
print(type(x%y))

In [ ]:
print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [ ]:
#print('comment')
a = """mulitiline comment"""
b = """mulitiline
comment1"""
print(a)
print(b)

mulitiline comment
mulitiline
comment1

# **Operator Precedence**


paranthesis ()

exponentiation **

multiplication * / division / / f.d// / modulus%

addition, subtraction +,-

In [ ]:
print(12 + 5 * (4 - 2))

# **Assignment Operators**

Assignment operators are used to assign values to variables

In [ ]:
x = 7
#x += 2    # x = x+2
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3 # Same as x = x ** 3
print(x)

343

In [ ]:
x = 2
x **= 5
x = x**5
print(x)

#**Comparison Operators**


These are used to compare two variables with each other.

">"  is greater than

"<"  is smaller than

">="  is greater than or equal to

"<="  is smaller than or equal to

"=="  is equal to

"!=" is not equal to

In [ ]:
print(5!=7)

True

In [ ]:
a = 7
b = 10
print(a!=b)
print(a==b)
print(a<b)
print(a>b)

True
False
True
False

# **Logical Operators**

Python has three Boolean operators, or logical operators: and , or , and not.

Logical operators are used to combine conditional statements

  

`and` 	      Returns "True" if both statements are true
`or`	        Returns "True" if one of the statements is true
`not`	        Reverse the result, returns "False" if the result is true

In [ ]:
x = 9
print(x < 11 and not   x < 9)
print(x < 5 or not x < 10)

In [ ]:
x = 9
print(not x>10)

In [ ]:
a = 80
b = 70
print(a==b or a>b)

# **Membership Operators**

Membership operators are used to test if a sequence is presented in an object

`in` Returns "True" if a sequence with the specified value is present in the object

`not in` Returns "True" if a sequence with the specified value is not present in the object

In [ ]:
var1 = "Python for Beginners"
print("y" in var1)
var2 = ["orange", 5, "3.5"]
print("orange" not in var2)

print("O" in "iCodeGuru")

True
False
False

In [ ]:
x = "How to use membership operator"
print("on"  in x)

print("Yes" not in "Python")

False
True

In [ ]:
var1 = "Python for Beginners"
print("python" not in var1)

True

# **Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

`is` Returns True if both variables are the same object

`is not` Returns True if both variables are not the same object

In [ ]:
a = 10.1
b = 10.1

print(a is a) # True
print(a is not a) # False
print(b is b) # True
print(b is not b) # False
print(a is b) #False
print(a is not b) #True
print(b is a) # False
print(b is not a) # True

print(id(a))
print(id(b))

True
False
True
False
False
True
False
True
4607095856
4608707120

In [ ]:
a = 10
b = "10"
# a = 11
print(a is b)
print(id(a))
print(id(b))

False
4558306216
4563609200

# **Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

You can display a string literal with the `print()` function

In [ ]:
x = "Python "
print(x)
y = 'Programming'
print(y)
print(x,y)

Python
Programming
Python  Programming

# **Multiline Strings**


You can assign a multiline string to a variable by using three quotes or three single quotes:

The line breaks are inserted at the same position as in the code.

In [ ]:
message1 = """Hello there I'm learning "python"

 programming language!"""
print(message1)
message2 = "Now, we are learning about multiline string"
print(message2)

Hello there I'm learning "python"

 programming language!
Now, we are learning about multiline string

In [ ]:
a = """multiline
comment"""
print(a)

multiline
comment

# **String Concatenation**
To concatenate, or combine, two strings you can use the "+" operator.

In [ ]:
x = "iCode"
y = "Guru"
z = "python"
print(x + y + z)

# Both have same working.....
print(x + " " + y + " " + z)

iCodeGurupython
iCode Guru python

In [ ]:
a = '''this
will show error'''
print(a)

this
will show error

# **Strings are Arrays:**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
x = "Hello   in the world of programming"
y = "Hello    World" #one tab space is one unit length

print(x[2])
print(x[-4])
print(len(x))
print(len(y))

l
m
35
14

In [ ]:
x = "Hello"
print(x[4])
print(x[0])
print(id(x))

print(id(x[0]))
print(id(x[1]))
message = """Hello there, I am learning
python programming language!"""
print(message[6])

o
H
4609284336
4558367960
4558369352
t

In [ ]:
x = "Enter"
print(id(x))
print(id(x[0]))

4590371248
4558367816

In [ ]:
x = "Pakistan "
print(x*5)

Pakistan Pakistan Pakistan Pakistan Pakistan

In [ ]:
x = "Hello"
print(id(x))
print(id(x[3]))

4609284336
4558369688

In [ ]:
list1 = [2, 3, 4, 66]
list1[0] = list1[3] #[66, 3, 4, 2]
print(list1)

[66, 3, 4, 66]

# **String Length**


To get the length of a string, use the len() function.

In [ ]:
string = "Python    Programming Language"
print(string[2])
print(len(string))

# **String Index:**

We can use index() method to find the index of a specific character or substring in a string.

In [ ]:
string = "Python Programming"
print(string.index("n"))
index = string.index("y")
print(index)

5
1

In [ ]:
string = "Python Programming"
char = "m"

# Find all indices of the character if it appears more than once
indices = [i for i, c in enumerate(string) if c == char]

# Check if the character appears more than once
if len(indices) > 1:
    print("Indices of occurrences:", indices)
else:
    print(f"The character '{char}' does not appear more than once.")

Indices of occurrences: [13, 14]

# **Looping Through a String:**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "hello+":
 print(x)

h
e
l
l
o
+

In [ ]:

for x in "python":
   print("2")

2
2
2
2
2
2

# **Slicing**
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.
There are three values separated by a colon(:) that can be used in slicing. And all of them are optional.

Syntax= string[start:end:step]

In [ ]:
x = "ABCDEFIGH"
print(x[1:4:2])

BD

In [ ]:
x = "Hello"
print(x[:])
print(x[2:-1:1])

Hello
ll

In [ ]:
x = "Hello World"
print(x[::-1])

dlroW olleH

x[::-1]:

- **start = 0**: Start from the beginning of the string.
- **stop = None**: Go until the end of the string.
- **step = -1**: Move backward through the string (reverses the order).

Breaking it down:

- Start at the beginning (0).
- Go until the end (None).
- Step backwards (-1): This causes the string to be reversed.

In [ ]:
string = "We are learning about string slicing."
print(len(string))
print(string.index(" "))
print(string[2])
print(string[4])
print(string[3:9:2])
print(string[:36:3])
print(string[7::])

37
2

r
ael
Wa ai o rgli
learning about string slicing.

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [ ]:
x = "Hello"

print(x[-1])
print(x[:-1:])
print(x[-2:-1])
print(x[::-1])

o
Hell
l
olleH

# **String Methods:**
Python has a set of built-in methods that you can use on strings.

**Upper Case**

The upper() method returns the string in upper case:

**Lower Case**

The lower() method returns the string in lower case:

**Capitalize**

The capitalize() method returns the string with first character capitalized:


**Sorted**

The sorted function is used to sort the string alphabatically.

**Join**

join() is used to join characters of a list in the form of string separated by the specified character.

**Count**

The count method is used to count the occurences of a specific character or substring in a string.

**endswith**

It checks whether a string ends with a specified character.

**startswith**

It checks whether a string starts with a specified character.

**endswith**

It checks whether a string ends with a specified character.

**find**

It checks at what position a specified character is present.

In [ ]:
name="hUSnAiN"
print(name.upper())
print(name.lower())
print(name.capitalize())
print(sorted(name))

HUSNAIN
husnain
Husnain
['A', 'N', 'S', 'U', 'h', 'i', 'n']

In [ ]:
string="python"
x="/".join(string)
print(x)

p/y/t/h/o/n

In [ ]:
print(" ".join(string))

p y t h o n

In [ ]:
print(" ".join(sorted(string)))

h n o p t y

In [ ]:
string1 = "Who are you?567"
print(sorted(string1))

[' ', ' ', '5', '6', '7', '?', 'W', 'a', 'e', 'h', 'o', 'o', 'r', 'u', 'y']

In [ ]:
print(name.count("U"))

1

In [ ]:
print(name.endswith("N"))
print(name.startswith("n"))

True
False

In [ ]:
print(name.find("i"))

5

**Escape Character:**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
intro="My name is \'Muhammad Husnain'. I am student of computer \t science departement \n at University of Sargodha."
# /t will add 4 spaces, \n will move content to next line
print(intro)

My name is 'Muhammad Husnain'. I am student of computer 	 science departement
 at University of Sargodha.

Formatted String: (f-string)

The format() method formats the specified value(s) and insert them inside the string's placeholder. The placeholder is defined using curly brackets: {}.

In [ ]:
name="Muhammad Husnain Feroz"
print(f"Name of student is {name}")

Name of student is Muhammad Husnain Feroz

In [ ]:
interest="I have no interest in {}."
print(interest.format("driving"))
interest="I have no interest in {}. Even it will be true say that I hate {}."
print(interest.format("karate","karate"))

I have no interest in driving.
I have no interest in karate. Even it will be true say that I hate karate.

# **Remove Whitespaces:**
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [ ]:
x = "           Hello "
print(x)
print(x.strip(" "))

           Hello
Hello

In [ ]:
x = "Hello World!"
print(x)
print(x.strip("He"))
print(x.strip("Hell"))
print(x.strip("World!"))

Hello World!
llo World!
o World!
Hello

# **Replace String:**
The replace() method replaces a string with another string:

In [ ]:
name="Muhammad Husnain"
print(name.replace("Husnain","Feroz"))

Muhammad Feroz

In [ ]:
greetings="Hello World!"
print(greetings.replace("Hello","Hi"))

Hi World!

# **Split String:**
The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
message = "We can use split method to change our string into a split list."
print(message.split())
# we can also specify separator
print(message.split("split"))
print(message.split("a"))

['We', 'can', 'use', 'split', 'method', 'to', 'change', 'our', 'string', 'into', 'a', 'split', 'list.']
['We can use ', ' method to change our string into a ', ' list.']
['We c', 'n use split method to ch', 'nge our string into ', ' split list.']

**Reverse of a string:**

reversed() function is used to get the reverse of a specified string.

In [ ]:
name="Husnain"
print(reversed(name))   #return type memory location
print("".join(reversed(name)))

<reversed object at 0x7aa7808874c0>
niansuH

In [ ]:
number=51214
print("".join(reversed(str(number))))

41215

In [ ]:
# we can use indexing for reversing the string
x = 'Python'
print(x[::-1])

nohtyP

# **String:**

**Strings are not mutable in Python.** Strings are a immutable data types which means that its value cannot be updated.

In [ ]:
name="Husnain"
name[0]='h'
print(name)

TypeError: 'str' object does not support item assignment

#**List**

Lists are used to store multiple items in a single variable.

List items are ordered, changable, allow duplicate values.

List items can be of any data type.

In [ ]:
List=[5,12,14,True,False,5.12,'list']
print(List)
print(type(List))

[5, 12, 14, True, False, 5.12, 'list']
<class 'list'>

#**List Length**

Use `len()` function to determine how many items a list has.

In [ ]:
print(len(List))

7

#**Access List Items**

Since list items are indexed, they can be accessed by referring to their index number.

We can also use negative indexing to refer to a list item.

We can also specify a range to tell where to start and where to end. In that case, the output will be a new list having specified items.

We can also specify negative indexes if we want to start the search from the end of the list

In [ ]:
List=[5,12,14,True,False,5.12,'list']
print(List[3])

# using -ve index
print(List[-1])

#range of items
print(List[0::-1])

# #range of -ve indexes
print(List[-2:-4:1])

True
list
[5]
[]

#**Membership Operators in List**

To check if the specified item is present in a list or not we can use membership operators i'e `in` and `not in`.

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
print(5 in list1)
print(5 not in list1)

True
False

#**Change List Items**

To change the value of a specific item, refer to the index number.

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
list2[1] = "go!"
print(list2)

list2[0:3] = ["list"]
print(list2)

['summer', 'go!', 'spring', 'autumn']
['list', 'autumn']

#**Add List Items**

We can add items in the list using:


*   `append()` method
*   `insert()` method
*   `extend()` method

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
list2 = ["summer", "winter", "spring", "autumn"]
list3=['Husnain','Ali','Hassan','Hussain']
list1.append('Fatima')
list2.insert(2,'insertion_done')
# To append elements from another list to the current list, use the extend() method.
list3.extend(list2)

print(list1)
print(list2)
print(list3)

['cool', 5, 'table', 4.3, True, 'Fatima']
['summer', 'winter', 'insertion_done', 'spring', 'autumn']
['Husnain', 'Ali', 'Hassan', 'Hussain', 'summer', 'winter', 'insertion_done', 'spring', 'autumn']

#**Remove List Items**

We can remove items from list using:

* `remove()` method\
The remove() method removes the specified item


* `pop()` method\
The pop() method removes the specified index.

* `del` keyword

* `clear()` method

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
list1.remove(4.3)
list1.remove(True)
print(list1)

['cool', 5, 'table']

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
list2.pop(1)
list2.pop() # if index is not define, then it will remove last element
print(list2)

['summer', 'spring']

In [ ]:
list3=['Husnain','Ali','Hassan','Hussain']
del list3[2]
print(list3)

['Husnain', 'Ali', 'Hussain']

In [ ]:

del list2 # it deletes the complete list2
print(list2)

NameError: name 'list2' is not defined

#**Sort List**

List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default.

To sort descending, use the keyword argument `reverse = True`

By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters.

If you want a case-insensitive sort function, use str.lower as a key function.

The `sort()` method of a Python list can only sort elements of the same type.

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
list1.sort()
print(list1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
list2.sort()
print(list2)

['autumn', 'spring', 'summer', 'winter']

In [ ]:
list3=[1,5,3,5,0,9,5,1,9]
list3.sort(reverse=True)
print(list3)

[9, 9, 5, 5, 5, 3, 1, 1, 0]

In [ ]:
list4 = ["apple", "8", "Winter", "6.0"]
list4.sort()
print(list4)

['6.0', '8', 'Winter', 'apple']

In [ ]:

list5 = ["apple", "Banana", "orange", "Apricot"]
list5.sort(key = str.upper)
print(list5)

['apple', 'Apricot', 'Banana', 'orange']

In [ ]:
list5.reverse()
print(list5)

['orange', 'Banana', 'Apricot', 'apple']

In [ ]:
list2=['apple','Apricort','banana','Orange']
list2.sort(key=str.lower)
print(list2)

['apple', 'Apricort', 'banana', 'Orange']

In [ ]:
list2 = ["summer", "winter", "Spring", "autumn", "7", "9"]
list2.sort(key=str.lower)
print(list2)

['7', '9', 'autumn', 'Spring', 'summer', 'winter']

#**Copy List**

You cannot copy a list simply by typing `list2 = list1`, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

Another way to make a copy is to use the built-in method `list()`.

In [ ]:
list5 = ["summer", "winter", "Spring", "autumn", "7", "9"]
list6=list5
list6.append("12")
print(list5)

['summer', 'winter', 'Spring', 'autumn', '7', '9', '12']

In [ ]:
list6=list5.copy()
list6.append("14")
print(list6)
print(list5)

['summer', 'winter', 'Spring', 'autumn', '7', '9', '12', '14']
['summer', 'winter', 'Spring', 'autumn', '7', '9', '12']

#**Join List**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

Another way to join two lists is by appending all the items from list2 into list1, one by one

Or you can use the `extend()` method, which purpose is to add elements from one list to another list

In [ ]:
print(list1+list2)

['cool', 5, 'table', 4.3, True, 'summer', 'winter', 'Spring', 'autumn', '7', '9']

In [ ]:
list3.extend(list2)
print(list3)

[9, 9, 5, 5, 5, 3, 1, 1, 0, 'summer', 'winter', 'Spring', 'autumn', '7', '9', 'summer', 'winter', 'Spring', 'autumn', '7', '9', 'summer', 'winter', 'Spring', 'autumn', '7', '9']

In [ ]:
#appending each item using for loop
for i in list4:
  list5.append(i)
print(list5)

['summer', 'winter', 'Spring', 'autumn', '7', '9', '12', '6.0', '8', 'Winter', 'apple']

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]

print(list1.count('table'))
print(list1.index('table'))

1
2

In [ ]:
string1 = "Python Programming"
print(len(string1))
print(string1[-18])
print(string1[-11:-8:1])

18
P
Pro

In [ ]:
# Question for today
my_list = [12, 35, 5, 0, 87, 99]
# Find the modulus of number at index 1 with 5.
print(my_list[1] % my_list[5])

35

In [ ]:
# Problem no. 2
set1 = {"Lahore", "Faisalabad", 5, True}
set2 = {5, 0, True}
# find whether set2 is a subset of set1 or not.
# Hint: use set method for this
print(set2.issubset(set1))

False

In [ ]:
string = ""
print(type(string))

<class 'str'>

# **Nested List:**
If there is a sublist within a list, it is known as nested list. We can access the elements of nested list by using its indexes.

In [ ]:
list1=[1,2,3,[4,5,6,7],8,9]
print(list1)
print(list1[3])
print(list1[3][2])

[1, 2, 3, [4, 5, 6, 7], 8, 9]
[4, 5, 6, 7]
6

#**Tuple**

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
tuple1=("Husnain",7,5,6.12,bool,"Husnain")
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])
print(tuple1)
print(tuple1[0]=="Husnain")
# print(tuple1[0]="Ali") ---> error, because tuples are immutable
print("The length of tuple1 is :",len(tuple1))

Husnain
7
5
6.12
('Husnain', 7, 5, 6.12, <class 'bool'>, 'Husnain')
True
The length of tuple1 is : 6

#**Accessing Tuple Elements**

Items in the tuples can be accessed by entering the index number inside square bracket.

The index can be a positive index, a negative index or a range of the indices.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
print(T1[-2])
print(T1[-2:-5:-1])

Korea
('Korea', 55, 'Sudan')

#**Update Tuples**

Tuples are immutable. You can't add or remove items in it. However, there are some hacks to do that.

In [ ]:
# Method 1 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.append("Indonesia")
T1 = tuple(x)
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09', 'Indonesia')

In [ ]:
# Method 2 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
T3 = ("Python",)
T1 += T3   # T1 = T1+T3
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09', 'Python')

In [ ]:
# To remove items from tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.remove("Pakistan")
T1 = tuple(x)
print(T1)

('Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09')

In [ ]:
# Delete a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
del T1
print(T1)

NameError: name 'T1' is not defined

#**Unpacking a Tuple**

When we assign values to a tuple, it is packing the tuple.

We can also unpack the tuple and assign these values to different variables.

In [ ]:

T1 = ("Pakistan", "Nepal","Sudan","Korea")
country1,country2,country3,country4=T1
print(T1)
print(len(T1))
print(type(T1))
print(country1)
print(country2)
print(country3)
print(country4)
print(type(country1))

('Pakistan', 'Nepal', 'Sudan', 'Korea')
4
<class 'tuple'>
Pakistan
Nepal
Sudan
Korea
<class 'str'>

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
var1, var2, var3, var4, *var5 = T1
print(var3)
print(var4)
print(var5) #*var5 acts as a packing operator, which stores the remaining elements in a list.

5
8.9
['Sudan', 55, 'Korea', '09']

#**Join Tuples**

To join tuples, you can use `+` operator.

In [ ]:
join1 = (3, 5, 7)
join2 = ("P", "A", "K")
join3 = (2, 4, 6)
join1 += join2 + join3
print(join1)

(3, 5, 7, 'P', 'A', 'K', 2, 4, 6)

#**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator.

In [ ]:
tuple1=("Husnain",512)
tuple2=tuple1*2
print(tuple2)

('Husnain', 512, 'Husnain', 512)

In [ ]:
a = ["Husnain"]
print(a*5)

['Husnain', 'Husnain', 'Husnain', 'Husnain', 'Husnain']

#**Tuple Methods**

Python has two built-in methods for tuple.

* `count()` method

* `index()` method

In [ ]:
T1 = ("Pakistan", "Nepal","Pakistan",5, 8.9, "Sudan", 55, "Korea", "09")
print(T1.count("Pakistan"))
print(T1.index(5))

2
3

#**Sets**

Like lists and tuples, sets are used to store multiple values of different data types in a single variable.

Set items are unordered, unindexed, unchangable and don't allow duplicate values.

(Set items are immutable, we can still add and remove items).

Sets are written with curly brackets.

In [ ]:
List = ["Lahore",5, "Faisalabad", 1, 5, True]
List = set(List)
print((List))
print(type(List))

{'Lahore', 1, 'Faisalabad', 5}
<class 'set'>

In [ ]:
# Duplicates not allowed in sets
set1 ={"Lahore", 5, "false" , "Lahore","Faisalabad", "Lahore","Lahore",8,99}
print((set1))

set2 = {5, True, 5}
print(set2)

{99, 'Faisalabad', 5, 'false', 'Lahore', 8}
{True, 5}

In [ ]:
print(len(set2))

2

#**Access Set Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [ ]:
if "Lahore" in set1:
  print("True")
else:
  print("False")

True

In [ ]:
print("Lahore" in set1)

True

#**Add items in a Set**

Once a set is created, you cannot change its items, but you can add new items.

To add an item to a set, use the `add()` method.

To add items from another set into the current set, use the `update()` method.

In [ ]:
set1={"Husnain","Feroz"}
set1.add("Awan")
print(set1)

{'Feroz', 'Husnain', 'Awan'}

In [ ]:
set1={"Husnain","Feroz"}
set2={"Awan"}
set1.update(set2)
print(set1)

{'Feroz', 'Husnain', 'Awan'}

#**Remove Set Items**

In [ ]:
set1.discard("Awan")
print(set1)

{'Feroz', 'Husnain'}

In [ ]:
set1.remove("Feroz")
print(set1)

{'Husnain'}

In [ ]:
set1.clear()
print(set1)

set()

#**Join Sets**

In [ ]:
set1={"Husnain","Feroz"}
set2={"Awan"}
set1=set1.union(set2)
print(set1)

{'Feroz', 'Husnain', 'Awan'}

#**Some Set Methods**

* `intersection_update()`\
The intersection_update() method will keep only the items that are present in both sets.

* `intersection()`\
The intersection() method will return a new set, that only contains the items that are present in both sets.

* `symmetric_difference()`\
The `symmetric_difference()` method returns the unique elements from two sets, meaning it excludes the elements that are common in both sets.

* `difference()`\
The difference() method Returns a set containing the difference between two or more sets.

In [ ]:
set1={"Husnain",5,12,14,72,110}
set2={5,12,14,72}
set1.intersection_update(set2)
print(set1)

{72, 12, 5, 14}

In [ ]:
set1={"Husnain",5,12,14,72,110}
set2={5,12,14,72}
set3=set1.intersection(set2)
print(set3)

{72, 12, 5, 14}

In [ ]:

set1 = {"Lahore", "Faisalabad", 5,6}
set2 = {5,7,"Multan"}
x = set1.difference(set2)
print(x)

{'Lahore', 'Faisalabad', 6}

In [ ]:
set1={"Husnain",5,12,14,72,110}
set2={5,12,14,72}
result=set1.symmetric_difference(set2)
print(result)

{110, 'Husnain'}

#**Dictionaries**

Dictionaries are used to store data values in key:value pairs.

Dictionary items are ordered, changable, and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

In [ ]:
Info={"name":"Muhammad Husnain",
      "age":23,
      "domain":"IT"}

print(Info)
print(type(Info))
print(Info["name"])
print(Info["age"])
print(Info["domain"])

{'name': 'Muhammad Husnain', 'age': 23, 'domain': 'IT'}
<class 'dict'>
Muhammad Husnain
23
IT

# **Length of a dictionary:**
By using len() function, we can get the number of key-value pairs in a dictionary.

In [ ]:
print(len(I))

# Introduction to Functions

To understand functions, let's consider an analogy. Imagine that a chef works in a restaurant and gets repeated orders for recipes. The chef has two options:

## Option 1:
He takes a recipe book, and every time he gets an order, he writes down the steps of that order and starts making the recipe.

## Option 2:
He writes down the recipe once and hangs it in one place. Whenever he gets an order for the same recipe, he simply follows the steps and makes the recipe.

Similarly, when we need to perform a task repeatedly in Python for a specific output, instead of writing the same lines of code again and again, we define a function. This function can be called whenever needed.

---

## Benefits of Functions

Using functions in programming offers several benefits:

### Code Reusability
You do not need to rewrite the same code repeatedly. Functions allow you to reuse the code, making your program more efficient.

### Concise, Clean, and Modular Code
If you have multiple tasks to perform, you can create a function for each task. This makes the code more organized and easier to understand. For example, instead of writing 10 lines of code for 10 tasks, you can create functions for each and use them multiple times.

### Error Reduction
When performing repetitive tasks, the chances of making mistakes increase. By using functions, you reduce the possibility of errors as you are calling the same code instead of re-writing it every time.

---

## How Functions Work

### Function Definition
To create a function in Python, you define it with a name, and it can take inputs (parameters) and produce outputs.

### Example of a Function
Consider a juicer machine:
- **Input:** A fruit.
- **Output:** Juice made from that fruit.

You can use this machine repeatedly for different fruits to get juice, similar to how a function works with inputs and outputs.

---

## Key Components of a Function Definition

1. **`def`**  A keyword that marks the beginning of the function.
2. **`function_name`**  A unique name for identifying the function.
3. **Parameters (optional)**  Values passed to the function for processing.
4. **`:` (Colon)**  Marks the end of the function header.
5. **Function body**  Contains the logic (instructions) that the function executes.
6. **`'''docstring'''`**  Used to describe what the function executes.
7. **`return` (optional)**  Returns a result to the caller.

---

## Python Built-in Functions

Python provides many built-in functions to perform common tasks. Here are a few of them:

### `len()`
Returns the length of an object (string, list, etc.).

```python
text = "Python"
print(len(text))  # Output: 6
```

### `max()`
Returns the maximum value from a list.

```python
numbers = [1, 2, 3, 4, 5]
print(max(numbers))  # Output: 5
```

### `sorted()`
Sorts a list in ascending order.

```python
ratings = [4.2, 3.5, 5.0, 3.8]
print(sorted(ratings))  # Output: [3.5, 3.8, 4.2, 5.0]
```

### `range()`
Generates a sequence of numbers.

```python
for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4
```

### `id()`
Returns the memory address of an object.

```python
x = 10
print(id(x))  # Output: Memory address of the object
```

### `eval()`
Evaluates a string as a Python expression.

```python
expression = "5 + 3 * 2"
result = eval(expression)
print(result)  # Output: 11
```

---

## Function Execution with Input and Output

Functions can take input and provide output. Here are some examples of how to use them effectively:

### Input and Output Example
If you want to display a message and take input from the user, you can use the `input()` function:

```python
name = input("Enter your name: ")
print("Hello", name)
```

### Meaningful Messages
It is important to display meaningful messages for better readability and user experience. For example:

```python
print(f"The length of the string is {len(name)}")
```

---

## Sorting and Evaluating Data

### `sorted()` Function
By default, the `sorted()` function sorts numbers or lists in ascending order. However, you can also sort in descending order by specifying the `reverse` parameter:

```python
ratings = [4.5, 3.0, 5.0, 4.0]
print(sorted(ratings))  # Output: [3.0, 4.0, 4.5, 5.0]
```

### Using `eval()` for Mathematical Expressions
If you have a mathematical expression in string form, you can use the `eval()` function to compute it:

```python
expression = "5 + 3 * 2"
result = eval(expression)
print(result)  # Output: 11
```

---

## Python Functions and Their Types

In Python, there are two types of functions:

### Built-in Functions
These are predefined functions provided by Python to perform common tasks. Examples include `print()`, `input()`, `sorted()`, `max()`, etc.

### User-defined Functions
These are functions that programmers define based on their requirements. For example, you might need to create a function to solve a unique problem in your program that isnt covered by built-in functions.

#### User-Defined Function Example

```python
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!
```

---
<!--
## Final Thoughts

- Functions are essential for writing efficient, reusable, and modular code.
- Python provides a rich set of built-in functions for performing everyday tasks without writing additional code.
- In situations where built-in functions do not meet your needs, you can define user-defined functions. -->

In [ ]:
# defining the function 'add', that takes two numbers as parameter
def add(num1,num2):
  '''This function takes two numbers and will return their sum.'''
  print("Number1 is:", num1)
  print("Number2 is:", num2)
  addition=num1+num2
  return addition
result=add(12,14)
print("The result is:",result)

Number1 is: 12
Number2 is: 14
The result is: 26

In [ ]:
# function can be declare without parameters.
def greet():
  print("Hello, kesy ho Dost!")

greet()

Hello, kesy ho Dost!

# Function Arguments and Return Statement

Function arguments allow us to pass values into a function, making it more flexible and reusable. There are four types of arguments:

1. **Default Arguments**  
2. **Keyword Arguments**  
3. **Required Arguments**  
4. **Variable-Length Arguments**

In [ ]:
# function with default argument
def greet(name="Husnain"):
  print(f"Hello, {name}!")
greet()
greet("Ali")

Hello, Husnain!
Hello, Ali!

In [ ]:
# function with keyword argument
def name(fname,mname,lname):
  print(f"Hello, {fname} {mname} {lname}!")
name("Husnain","Feroz","Awan")
name(fname="Husnain",mname="Feroz",lname="Awan")

Hello, Husnain Feroz Awan!
Hello, Husnain Feroz Awan!

In [ ]:
# function with required arguments
def add(a, b):
    return a + b

print(add(3, 5))  # Output: 8

8

In [ ]:
# function with *args(tuple of arguments)
def name(*names):
  print("Hello,", names[0], names[1],names[2])

name("Husnain","Feroz","Awan")

Hello, Husnain Feroz Awan

# Understanding Local and Global Variables

## Local Variables
- Defined inside a function and **cannot be accessed outside**.

## Global Variables
- Defined outside functions and **can be accessed anywhere**.

---

## Modifying Global Variables Inside Functions

### Use the `global` Keyword
To modify a global variable inside a function, use the `global` keyword.

### Access and Modify
The `global` keyword gives you permission to modify the variable.

### Changes Persist
Changes to the global variable remain after the function exits.

### Example: Using the `global` Keyword to Update a Global Counter
```python
counter = 0  # Global variable

def update_counter():
    global counter  # Using global keyword
    counter += 1  # Modifying global variable

update_counter()
print(counter)  # Output: 1

In [ ]:
x=512 # global variable

def my_function():
  y=514 # local variable
  print(f"The values of x is {x} and y is {y}")

my_function()
print("The value of x is",x) # y cannot be accessed here

The values of x is 512 and y is 514
The value of x is 512

# Python Variable Scope: LEGB Rule

Python follows the **LEGB** (Local, Enclosing, Global, Built-in) rule to determine variable scope:

1. **Local (L)** - Variables declared inside a function.
2. **Enclosing (E)** - Variables in enclosing functions (nested functions).
3. **Global (G)** - Variables declared at the top level of a script.
4. **Built-in (B)** - Predefined variables in Python (e.g., `print`, `len`).

This hierarchy helps Python determine which variable to use when there are multiple scopes.

In [ ]:
x='global' #global variable

def outer_function():
  x='enclosing' # enclosing variable
  def inner_function():
    x='local' # local variable
    print('Inside inner function:',x) # print local variable
  inner_function()
  print('Inside outer function:',x) # print enclosing variable

outer_function()
print('Outside all functions:',x) # print global variable

Inside inner function: local
Inside outer function: enclosing
Outside all functions: global

# Modifying Global Variables Inside a Function

To modify a global variable inside a function, we must use the `global` keyword.

## Example: Using the `global` Keyword

In [ ]:
count = 0  # Global variable

def increment():
    global count  # Declaring count as global
    count += 1  # Modifying global variable

increment()
print("Updated counter:",count)  # Output: 1

Updated counter: 1

# Best Practices for Using Global and Local Variables

- **Prefer local variables** whenever possible to avoid unintended side effects.  
- **Minimize the use of global variables** to keep code modular and maintainable.  
- **Use function arguments** to pass values instead of relying on global state.


# Understanding `is` (Identity Comparison)

The `is` operator checks if two variables **refer to the same object in memory**.

## Example: Checking Object Identity

In [ ]:
a = 10
b = 10

print(a is b)  # Output: True (Same memory location for small integers)

x = [1, 2, 3]
y = [1, 2, 3]

print(x is y)  # Output: False (Different memory locations for lists)

True
False

Key Points:
- `is` compares **memory addresses**, not just values.
- Works well with **immutable types** (e.g., integers, strings) due to Python's internal optimizations.
- For **mutable types** (e.g., lists, dictionaries), even if contents are the same, they may be stored at different locations.

# Understanding `==` (Value Comparison)

The `==` operator compares the **values** of two objects, rather than their memory addresses.

## Example: Checking Value Equality with `==`

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  # Output: True (Values are the same)
print(a is b)  # Output: False (Different memory locations)

x = 10
y = 10

print(x == y)  # Output: True (Same value)
print(x is y)  # Output: True (Small integers may share memory)

True
False
True
True

# Introduction
In Python, functions that take other functions as arguments or return functions as outputs are called higher-order functions. These functions are integral in improving programming skills, enhancing code readability, and enabling modular code. This document explains the concept of higher-order functions in Python, followed by detailed examples of some commonly used higher-order functions like map, filter, reduce, zip, and enumerate.
## What Are Higher-Order Functions?
A higher-order function is a function that:
- Takes another function as an argument, or
- Returns a function as its result.

In simpler terms, it is a function that operates on other functions.
## Real-Life Example
Imagine an organization where various team heads oversee specific tasks. When a task comes in, the head (like a higher-order function) doesn't perform the task directly. Instead, the head delegates the task to a team member (function) to handle it. Thus, one function calls another function to perform its action.

Another example is in a restaurant, where a recipe (task) is handed to the head chef. Instead of preparing the dish themselves, the head chef delegates it to a junior chef (a function), who then prepares the dish and returns the result.

This concept is key in Python's higher-order functions.

## 1. Map Function
The `map` function applies a given function to each item of an iterable (e.g., list, tuple) and returns a list of the results.

In [ ]:
def double(x):
    return x * 2

numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(double, numbers))
print(doubled_numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

## 2. Filter Function
The `filter` function filters elements in an iterable based on a condition defined by a function. It only returns elements that satisfy the condition.

In [ ]:
def is_even(x):
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(is_even, numbers))
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

## 3. Reduce Function
The `reduce` function takes a function and an iterable, and applies the function cumulatively to the items in the iterable, returning a single output.

To use `reduce`, it must be imported from the `functools` module.

In [ ]:
from functools import reduce

def multiply(x, y):
    return x * y

numbers = [1, 2, 3, 4, 5]
result = reduce(multiply, numbers)
print(result)  # Output: 120

120

## 4. Zip Function
The `zip` function combines two or more iterables into tuples, pairing elements from each iterable in the corresponding order.

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
zipped = list(zip(names, ages))
print(zipped)  # Output: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

## 5. Enumerate Function
The `enumerate` function adds an index to each item in an iterable. It is useful when you need to track the index of items in a loop.

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits, start=0):
    print(f"{index}. {fruit}")

# Output:
# 1. apple
# 2. banana
# 3. cherry

0. apple
1. banana
2. cherry

## Best Practices
- **Map and Filter**: Use `map` and `filter` functions for simple operations. However, consider using list comprehensions for better readability.
- **Reduce**: Only use `reduce` when absolutely necessary. In most cases, loops can be a more readable and efficient alternative.
- **Zip**: Use `zip` when you need to pair items from multiple iterables into tuples.
- **Enumerate**: Use `enumerate` when you need to manipulate or track the index of items in an iterable.

## Final Thoughts
Higher-order functions are an essential concept in Python that allow for more flexible and powerful programming. By understanding when and how to use functions like `map`, `filter`, `reduce`, `zip`, and `enumerate`, you can write cleaner, more modular, and efficient code. The key is practice and understanding where each function is appropriate to use in real-world programming scenarios. Focus on learning the logic behind these functions and applying them in different contexts to gain mastery.